.container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 800;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  color:#333
}

.label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #555;
}

.input {
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
  outline: none;
}

.button {
  margin-top: 1.5rem;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: #3b82f6;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #2563eb;
}

.alertError {
  color: #dc2626;
  margin-top: 0.5rem;
}

.result {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #333;
}

.result h2 {
  margin-bottom: 1rem;
}
