@import "tailwindcss";

:root {
  --background: #198754; /* verde */
  --fontcolor: #ffffff;  /* branco */
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fontcolor); /* aplica a cor branca ao texto */
}

main {
  min-height: calc(100vh - 60px);
  padding: 2rem;
  background-color: #198754;
}

/* Garante que o html, body e main ocupem 100% da altura */
html, body, main, #__next {
  height: 100%;
}